@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --outline: 1px dotted red; 
}


.topstripe{
    background-color: #1C1F33;
    height: 50px;
    display: flex;

}

.meny{
    background-color: #FAFAFAFA;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    font-family: 'Lora';
    z-index: 1000; 
}
.meny div a {
    color: Black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #0000;
    transition: all 0.7s ease-in-out;
}
.meny div a:hover {
    text-decoration: none;
    border-bottom: 3px solid #000F;
    text-decoration-thickness: 2px; 
    text-decoration-style: solid; 
}

.ikon{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFAFA;
}
.ikon img{
    height: 100px;
    
}
.slogan{
    display: flex;
    align-items: center;   
    justify-content: center;
    background-color: #FAFAFAFA;
    font-family:'Cinzel';
    font-weight: bold;
}
.logga{
    background-color: #1C1F33;
    display: flex;
    align-items: center;
    justify-self: center;
}
.loggacontainer{
    background-color: #1C1F33;
}

h1{
    font-family: 'Cinzel';
}

.showcase{
    background-color: #FAFAFAFA
}

.titelring{
    display: flex;
    align-items: center;    
    justify-content: center;
}