@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --outline: 1px dotted red; 
}


.topstripe{
    background-color: #1C1F33;
    height: 50px;
    display: flex;

}

.meny{
    background-color: #FAFAFAFA;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    font-family: 'Lora';
    z-index: 1000; 
}
.meny div a {
    color: Black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #0000;
    transition: all 0.7s ease-in-out;
}
.meny div a:hover {
    text-decoration: none;
    border-bottom: 3px solid #000F;
    text-decoration-thickness: 2px; 
    text-decoration-style: solid; 
}

.ikon{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFAFA;
}
.ikon img{
    height: 100px;
    
}
.slogan{
    display: flex;
    align-items: center;   
    justify-content: center;
    background-color: #FAFAFAFA;
    font-family:'Cinzel';
    font-weight: bold;
}
.logga{
    background-color: #1C1F33;
    display: flex;
    align-items: center;
    justify-self: center;
}
.loggacontainer{
    background-color: #1C1F33;
}

h1{
    font-family: 'Cinzel';
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-family: 'Lora';
}

.showcase{
    background-color: #FAFAFAFA;
    display: flex;
    flex-wrap: warp;
    gap:50px;
    justify-content: center;
    padding: 20px;
    transition: transform 0.3s;
}
.produkt{
    background-color: #FAFAFAFA;
    padding:15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    flex: 1 1 200px;
    max-width: 200px;
}

.produkt img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.produkt:hover{
    transform: scale(1.2);
}
.titelring{
    display: flex;
    align-items: center;    
    justify-content: center;
}

.bottenstripe{
    background-color: #FAFAFAFA;
    height: 70px;
}


.produkt-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background:rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.produkt-preview .preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background: #FAFAFAFA;
    position: relative;
    margin: 2rem;
    width: 40rem;
}

.produkt-preview .preview.active{
    display: inline-block;
}

.produkt-preview .preview img{
    height: 30rem;
    width: 100%;

}

.produkt-preview .preview .close{
    position: absolute;
    top:1rem; right:1.5rem;
    color: #444;
    font-size: 4rem;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FAFAFAFA;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.produkt-preview .preview .knappar a{
    display: flex;
    gap:1.5rem;
    flex-wrap: warp;
    margin-top: 1rem;
    font-family: 'Lora';
    text-decoration: none;
    border: .1rem solid #1C1F33;
    font-size: 40px;
}

